@use "./config/variaveis.scss";

.barra {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    background-color: variaveis.$colorBackground;

    .seta {
        font-size: 22px;
        color: variaveis.$colorPrimary;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        list-style: none;
        gap: 10px;


        .item {
            border: none;

            a {
                text-decoration: none;
                background-color: variaveis.$colorPrimary;
                padding: 2px;
                border-radius: 5px;
                color: #000;
            }

        }
    }

    @media(max-width: 450px) {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #1e272e;
    }
}