@use "./config/reset.scss";
@use "./config/variaveis.scss";
@use "./header";
@use "./hero";
@use "./barra";
@use "./about";
@use "./services";
@use "./info";
@use "./feed";


body {
    background-color: #000;
}

.title-big {
    font-size: 60px;

    @media (max-width: 1024px) {
        font-size: 40px;
    }

    @media (max-width: 450px) {
        font-size: 28px;
    }
}

.title {
    font-size: 48px;

    @media (max-width: 1024px) {
        font-size: 32px;
    }

    @media (max-width: 450px) {
        font-size: 24px;
    }
}

.title-small {
    font-size: 32px;

    @media (max-width: 1024px) {
        font-size: 28px;
    }

    @media (max-width: 450px) {
        font-size: 16px;
    }
}

.text {
    font-size: 18px;

    @media (max-width: 1024px) {
        font-size: 16px;
    }

    @media (max-width: 450px) {
        font-size: 16px;
    }
}

.span_color {
    color: variaveis.$colorPrimary;
}